/*Importando a fonte fredoka para conteúdo geral*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/*Estilizando a barra de navegação*/
.navbar navbar-expand-lg bg-body-tertiary {
    display: flex;
    padding: 40px 18px;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    text-align: none;

}

/*Estilos gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    list-style: none;
    text-decoration: none;
}

/*Estilizando a seção home*/
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    padding: 1%;
    background-color:#BAF2E9;
}

/*Estilizando o container*/
.container {
    margin: 0.5%;
    width: 95%;
    height: 87vh;
    display: flex;
    box-shadow: 5px 5px 50px rgba(0, 0, 0.212);
    background: #BAF2E9;
}

/*Estilizando o formulário*/
.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

/*Estilizando o formulário 2*/
.form2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BAF2E9;
    padding: 3rem;
}

/*Estilizando o cabeçalho do formulário*/
.form-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

/*Estilizando o cabeçalho do formulário 2*/
.form2-header {
    margin-bottom: 2rem;
    display: block;
    justify-content: space-between;
}

/*Estilizando a barrinha abaixo do título da página*/
.form-header h1::after {
    content: '';
    display: block;
    width: 17rem;
    height: 0.5rem;
    background-color: #F2BAC9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.form2-header h1::after {
    content: '';
    display: block;
    width: 17rem;
    height: 0.5rem;
    background-color: #F2BAC9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    margin-bottom:1rem;
}

/*Estilizando inputs*/
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-group2 {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

/*Estilizando caixas de entrada*/
.input-box {
    display: block;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box2 {
    display: block;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.4rem 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box2 input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box2 input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #F2BAC9;
}

.input-box label,
.gender-title h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box2 label,
.gender-title2 h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.input-box2 input::placeholder {
    color: #000000be;
}

/*Estilizando o botão*/
.continue-button button {
    width: 100%;
    margin-top: 0rem;
    border: none;
    background-color: #F2BAC9;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color:  #F2BAC9;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #000;
}

/*cores: #B0F2B4, #BAF2E9, #BAD7F2, #F2BAC9*/

.container-fluid{
    background-color: #BAF2E9;
}

.navbar-nav{
    margin-left: auto; 
}

.nav-link[href="./index.html"]:hover {
    background-color: #B0F2B4; 
}

.nav-link[href="./sobreNos.html"]:hover {
    background-color: #F2BAC9; /* Cor para o link 'Sobre nós' */
  }

  .nav-link[href="./entreEmContato.html"]:hover {
    background-color: #fde3a7d7;/* Cor para o link 'Entre em contato' */
  }

  .nav-link[href="./login.html"]:hover {
    background-color: #B0F2B4;  /* Cor para o link 'Login' */
  }

  .nav-link[href="./cadastreSe.html"] {
    background-color: #F2BAC9; /* Cor para o link 'Cadastre-se' */
  }

/*Media queries para ajustes de layout responsivo*/  
@media screen and (max-width: 1330px) {
    .form2 {
        width: none;
    }
    .container {
        width: 100%;
    }
    .form {
        width: 100%;
    }

}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        display: block;
    }
    .input-group {
        flex-direction: column;
        z-index: 3;
        padding-right: auto;
        max-height: auto;
        width: auto;
        flex-wrap: nowrap;
    }
    .input-box{
        width: auto;
        max-height: auto;
    }

    .input-box-men{
        width: auto;
    }
    .gender-inputs {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 1330px) {
    .form {
        width: none;
    }
    .container {
        width: 50%;
    }

    .form2 {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
        margin-top: auto;
    }
    .input-group2 {
        flex-direction:row;
        z-index: 3;
        padding-right: auto;
        max-height: auto;
        max-width: auto;
        flex-wrap: nowrap;
    }

    .mapbox{
        width: auto;
    }

} 
